<!-- <app-base-dialog> -->
  <!-- <div class="certificate-container">
    <div fxFlex>
      <div class="cert-content">
        <mat-card class="certificate">
          <mat-card-content>
            <h3>Feedback</h3>
            <div class="feedback-form-field">
              <label for="email">Your email:</label>
              <input id="email" type="text" class="input-feedback" autocomplete="off"
                     placeholder="Enter email address here..">
            </div>

            <div class="feedback-form-field">
              <label for="comments">Your comments:</label>
              <textarea id="comments" type="text" class="input-feedback-textarea" placeholder="Enter text here.."
                        rows="8"></textarea>
            </div>

            <div class="custom-actions">
              <button class="btn-activate" mat-button>Submit</button>
              <button class="btn-activate" mat-button>Cancel</button>
            </div>

            <p>In our constant search to keep improving our products we greatly value the opinion of our users. You can
              use this form to send your comments regarding the topical content, functionality and usability of the
              course directly to the developers of ExpertCollege.</p>

            <p>If you have any questions about <b>certificates</b> or <b>accreditationpoints</b> please send an email to
              <a href="mailto:helpdesk@expertcollege.com">helpdesk@expertcollege.com</a></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> -->
<!-- </app-base-dialog> -->