@import "src/styleguide/shared";

.subject-container {
  padding: 56px 0px 56px 56px;
}


.description {
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: $color-black;
  display: block;
  margin-bottom: 48px;
  margin-top: 0;
}

.subject {
  border: solid 1px #ACACAC;
  border-radius: 10px;
  height: 55px;
  padding: 0 20px;
  margin-bottom: 16px;
  cursor: pointer;

  span {
    font-size: 18px;
    color: $color-black;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75vw;
  }
}

.active {
  background: $color-primary;

  span {
    color: $color-white;
  }
}

.confirm {
  margin-top: 25px;
}

.btn-confirm {
  @include btn-primary;

  padding: 0px 25px;
  border: solid $color-white 1px;
  box-shadow: none;
}

@media (max-width:959px) {

  .subject {
    height: 45px;
    line-height: 42px;
  }
}


@media (max-width:768px) {

  .subject-container {
    padding: 8px 0px 8px 9px;
    max-height: 85vh;
  }
}

@media (max-width:420px) {  

  .description {
    margin-bottom: 30px;
  }

  .subject {
    span {
      width: 65vw;
    }
  }

  .btn-confirm {
    margin-bottom: 32px;
  }
}
