@import "src/styleguide/shared";

.inner-home {
  margin-top: 10%;
}

.logo {
  margin-bottom: 120px;
}  

.logo-img {
  height: 90px;
}

.sc-container {
  margin-right: 48px;
}

@media (max-width:1440px) {
  .sc-container {
    margin-right: 35px;
  }
}

@media (max-width:1280px) {
  .inner-home {
    margin-top: 5%;
    margin-bottom: 0 !important;
  }

  .sc-container,
  .st-container {
    margin-right: 0;
  }

  .logo {
    margin-bottom: 40px;
  }  
}

@media (max-width:768px) {

  .sc-container,
  .st-container {
    margin-bottom: 32px;
  }

  .logo {
    margin-top: 20px;
  }
  
  .logo-img {
    height: 65px;
    width: 250px;
  }
}


@media (max-width:320px) {

  .logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo-img {
    height: 75px;
  }  
}


