<div class="top-header" fxFlex>
  <div class="container">
    <div class="top-menu">
      <span>Meld je aan voor de nieuwsbrief</span>
      <a href="#" class="btn-signup">Aanmelden</a>
      <a href="https://www.facebook.com/pages/ExpertCollege/257436114287385"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/2576411/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.linkedin.com/company/2576411/"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</div>
