<div class="footer">
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <div>
          <a class="menu-item">© ExpertCollege 2019</a>
          <a class="menu-item">alle rechten voorbehouden</a>
          <a class="menu-item">disclaimer</a>
          <a class="menu-item">Privacyverklaring</a>
          <a class="menu-item">Algemene Voorwaarden</a>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/pages/ExpertCollege/257436114287385"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/2576411/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>
</div>