<div class="certificate-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="certificate">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
      <img src="assets/svg/graduation-cap.svg">
      <h3>Congratulations</h3>
      <div class="desc">Dummy text only. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div>
        <button class="btn-activate" mat-button>CERTIFICATE</button>
        <button class="btn-activate" mat-button>OK</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
