/*
* Define your global style variables here
*
*/
$default-font-family: "Noto Sans", sans-serif;
$color-white: #fff;
$color-white-1: #f1f1f1;
$color-black: #424242;
$color-black-1: #666;
$color-black-2: #707070;
$color-black-3: rgba( 0, 0, 0, 0.5 );
$color-black-4:  #000;
$color-gray: #ccc;
$color-gray-1: #495057;
$color-gray-2: #ced4da;
$color-gray-3: #f1f1f1;
$color-gray-4: #f7f7f7;
$color-blue: blue;
$color-blue-1: #0c459e;
$color-blue-2: #0B4093;
$color-blue-3: #2374ad;
$color-blue-4: #1768A4;
$color-light-blue: #5FAADD;
$color-red: #ff5722;
$color-red-1: #CC0000;
$color-red-2: #FF6666;
$color-primary: #24618F;
$color-primary-1: #367BAF;
$color-secondary: #2ea3f2;
$color-green: #94E867;