<div class="bottom-menu">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="menu">
        <a class="menu-item">Home</a>
        <a class="menu-item">Ziekenhuizen</a>
        <a class="menu-item">Mbo & hbo</a>
        <a class="menu-item">Verpleging, Verzorging en Thuiszorg</a>
        <a class="menu-item">Ambulancezorg</a>
        <a class="menu-item">Huisartsenzorg</a>
        <a class="menu-item">Mijn account</a>
        <a class="menu-item">Meld je aan voor de nieuwsbrief</a>
        <input type="button" class="btn-search" value="Aanmelden">
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>