/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "./styleguide/shared";
@import "../node_modules/@angular/material/theming";
@include mat-core();

body {
  font-family: $default-font-family;
  color: $color-black;
  padding: 0;
  margin: 0;
  min-width: 320px;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p {
  font-size: 14px;
  color: $color-black-1;

  span.link {
    font-weight: 500;
    color: $color-primary;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mat-progress-bar {
  height: 1px !important;
  position: absolute !important;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.feedback-dialog,
.search-dialog,
.logout-dialog,
.rating-dialog {
  max-width: 100% !important;

  .mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.subject-dialog,
.tutorial-dialog {
  .mat-dialog-container {
    border-radius: 15px;
  }
}

//additional custom theme
$omg-app-primary: mat-palette($mat-indigo, 600);
$omg-app-accent: mat-palette($mat-blue);
$omg-app-warn: mat-palette($mat-deep-orange);
$omg-app-theme: mat-light-theme($omg-app-primary, $omg-app-accent, $omg-app-warn);
@include angular-material-theme($omg-app-theme);

.subject-list {
  max-height: 500px;
  overflow-y: scroll;
}

.subject-list::-webkit-scrollbar-track {
  border-radius: 20px;
  width: 8px;
}

.subject-list::-webkit-scrollbar {
  width: 8px;
  background: $color-gray;
  border-left: 3px solid $color-white;
  border-right: 3px solid $color-white;
}

.subject-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  height: 10px;
}

.home-scrollbar::-webkit-scrollbar-track {
  width: 8px;
}

.home-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: $color-white;
}

.home-scrollbar::-webkit-scrollbar-thumb {
  background-color: $color-gray;
  border: 1px solid $color-gray;
  height: 10px;
}
