@import "src/styleguide/shared";

ul {
  .breadcrumb {
    padding: 10px 0px;
    list-style: none;

    li {
      display: inline;
      font-size: 25px;
      font-weight: 600;
    }

    li + li:before {
      padding: 8px;
      color: $color-black;
      content: "/\00a0";
    }

    li a {
      color: $color-black;
      text-decoration: none;
    }
  }
}
